<div class="prose mx-auto">
  <router-outlet></router-outlet>
  <div class="h-20"></div>
</div>

<div class="btm-nav bg-primary btm-nav-lg">
  <button class="max-h-3/4" routerLink="/">
    <img class="justify-self-end" src="assets/searchbutton.svg" />
  </button>
  <button class="max-h-3/4" routerLink="money">
    <img src="assets/moneybutton.svg" />
  </button>
  <button class="max-h-3/4" routerLink="settings">
    <app-messages-indicator [count]="12"></app-messages-indicator>
  </button>
  <button class="max-h-full" routerLink="profile">
    @if(avatarUrl) {
      <app-avatar size="md" [path]="avatarUrl" />
    } @else {
      <img class="max-w-16" src="assets/profilebutton.svg" />
    }
  </button>
</div>