<div class="prose text-center">
    <h2>Manage your Profile</h2>
    <app-loading-error-block [data]="data" [error]="error" />
    <ng-container *ngIf="data">
        <h3>Profile Photo</h3>
        <app-avatar (click)="uploadProfilePhoto()" [path]="data.profile_path" [force]="true" />
        <p>
            <button (click)="uploadProfilePhoto()" class="btn btn-primary">Replace Photo</button>
        </p>
        <h3>Full Name</h3>
        <p>{{ data.name }}</p>
        <form [formGroup]="nameForm" class="flex flex-col items-center">
            <app-text-field 
                [form]="nameForm"
                name="name"
                type="text"
                label="Name"
                [validation]="[
                    { name: 'required', message: 'Name is required'},
                    { name: 'minlength', message: 'Must be at least 3 characters long'}]"
            />
            <div>
                <button class="btn btn-primary" (click)="updateName()" [disabled]="!nameForm.valid">Update Name</button>
            </div>
        </form>
        <h3>Your Reviews</h3>
        <p><button class="btn btn-primary" routerLink="/user/{{ data.id }}">See your reviews</button></p>
        <h3>Reset Password</h3>
        <form [formGroup]="passwordForm" class="flex flex-col items-center">
            <app-text-field 
                [form]="passwordForm"
                name="password"
                type="password"
                label="Password"
                [validation]="[
                    { name: 'required', message: 'Password is required'},
                    { name: 'minlength', message: 'Must be at least 6 characters long'}]"
            />
            <app-text-field 
                [form]="passwordForm"
                name="confirmPassword"
                type="password"
                label="Confirm Password"
                [validation]="[
                    { name: 'required', message: 'Confirmation is required'}]"
            />
            <app-whole-form-validation 
                [form]="passwordForm"
                [validation]="[
                    { name: 'notSame', message: 'Passwords must match' }]"
            />
            <div>
                <button class="btn btn-primary" (click)="updatePassword()" [disabled]="!passwordForm.valid">Update Password</button>
            </div>
        </form>
        <div class="py-4">
            <button (click)="signOut()" class="btn btn-warning">Sign Out</button>
        </div>
        <div class="py-4">
            <button onclick="deleteAccountModal.showModal()" class="btn btn-error">Delete Account</button>
        </div>
    </ng-container>
</div>
<app-toast #infoToast type="info" />
<app-toast #successToast type="success" />
<app-toast #errorToast type="error" />
<dialog id="deleteAccountModal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold">Delete Account?</h3>
        <p class="py-4">All Data will be deleted. Are you sure you want to continue?</p>
        <button (click)="deleteAccount()" class="btn btn-error">Confirm Delete</button>
    </div>
</dialog>