<div class="prose text-center">
    <h2>Manage your Profile</h2>
    <app-loading-error-block [data]="data" [error]="error" />
    <ng-container *ngIf="data">
        <h3>Profile Photo</h3>
        <app-avatar (click)="uploader.click()" [path]="data.profile_path" [force]="true" />
        <p>
            <input hidden type="file" #uploader accept="image/*" (change)="uploadProfilePhoto($event)"/>
            <button (click)="uploader.click()" class="btn btn-primary">Replace Photo</button>
        </p>
        <h3>Full Name</h3>
        <p>{{ data.name }}</p>
    </ng-container>
    <ng-container *ngIf="!data">
        <app-loading />
    </ng-container>
    <button (click)="signOut()" class="btn btn-warning">Sign Out</button>
</div>