<app-loading-error-block [data]="sp" [error]="error" />
<div *ngIf="sp">
    <div id="header" [ngStyle]="{'background-image': headerImageUrl ? 'url('+headerImageUrl+')' : ''}">
        <app-back-button color="base-100" />
        <div class="m-4">
            <h1 class="text-base-100 text-4xl font-extra-bold text-shadow shadow-black my-4">{{sp.display_name}}</h1>
            <h3 class="text-base-100 text-md text-shadow shadow-black my-2">{{sp.sub_title}}</h3>
            <app-rating [value]="3.5" />
        </div>
    </div>
    <div>
        Featured
    </div>
    <div>
        Menu
    </div>
    <div>
        Directions
    </div>
    <div>
        Employees
    </div>
    <div>
        Reviews
    </div>
    <!-- Hours -->
    <div class="bg-secondary rounded-t-lg">
        <div class="p-6 text-base-100">
            <h2 class="mt-0 text-base-100">Hours</h2>
            <table>
            @for (item of reorganizeHours(sp.service_provider_hours); track $index) {
                <tr><td>{{daysOfWeek[$index]}}</td>
                    <td>
                    @if(item.length > 0) {
                        @for (hour of item; track $index) {
                            {{ formatTime(hour.open_time) }}-{{ formatTime(hour.close_time) }}{{ ($index + 1) == item.length ? '' : ', '}}
                            
                        }
                    }
                    @if(item.length == 0) {
                        Closed
                    }
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>
</div>
