<app-loading-error-block [data]="sp" [error]="error" />
<div *ngIf="sp">
    <div id="header" [ngStyle]="{'background-image': headerImageUrl ? 'url('+headerImageUrl+')' : ''}">
        <app-back-button color="base-100" />
        <div class="m-4">
            <h1 class="text-base-100 text-4xl font-extra-bold text-shadow shadow-black my-4">{{sp.display_name}}</h1>
            <h3 class="text-base-100 text-md text-shadow shadow-black my-2">{{sp.sub_title}}</h3>
            <app-rating [value]="3.5" />
        </div>
    </div>
    <div>
        <h3 class="text-md text-shadow shadow-white my-2">Featured</h3>
    </div>
    <div>
        <h3 class="text-md text-shadow shadow-white my-2">Menu</h3>
    </div>
    <div>
        <h3 class="text-md text-shadow shadow-white my-2">Location</h3>
        <div class="max-w-full" *ngIf="mapShow && sp.lat && sp.lng">
            <google-map [options]="mapOptions" height="240px" [width]="getScreenWidth()">
                <map-marker *ngIf="sp.lat && sp.lng" [position]="{lat: sp.lat, lng: sp.lng}" [options]="markerOptions" />
            </google-map>
            <div class="flex flex-row mx-2 mt-2 items-center">
                <button class="items-center btn btn-primary" (click)="navigate(sp.lat, sp.lng)">
                    <span class="material-symbols-outlined text-primary-content">
                    directions_car
                    </span> Navigate
                </button>
                <div *ngIf="mapDistance" class="flex-grow mx-8">{{ mapDistance | number: '1.0-1' }} mi</div>
            </div>
            <div class="mx-2 text-start">{{ sp.address_1 }}, {{ sp.address_2 ? sp.address_2+', ' : '' }}{{ sp.city }}, {{ sp.state }} {{ sp.postal_code }}</div>
        </div>
        <!-- x:120, y:240 for pin point -->
    </div>
    <div>
        <h3 class="text-md text-shadow shadow-white my-2">Employees</h3>
    </div>
    <div>
        <h3 class="text-md text-shadow shadow-white my-2">Reviews</h3>
    </div>
    <!-- Hours -->
    <div class="bg-secondary rounded-t-lg">
        <div class="p-6 text-base-100">
            <h2 class="mt-0 text-base-100">Hours</h2>
            <table>
            @for (item of reorganizeHours(sp.service_provider_hours); track $index) {
                <tr><td>{{DateService.daysOfWeek[$index]}}</td>
                    <td>
                    @if(item.length > 0) {
                        @for (hour of item; track $index) {
                            {{ DateService.formatTime(hour.open_time) }}-{{ DateService.formatTime(hour.close_time) }}{{ ($index + 1) == item.length ? '' : ', '}}
                            
                        }
                    }
                    @if(item.length == 0) {
                        Closed
                    }
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>
</div>
