<div class="prose text-center flex flex-col gap-2 m-4">
    <details class="collapse collapse-arrow border border-base-300">
        <summary class="collapse-title text-xl font-bold">
          General
        </summary>
        <div class="collapse-content flex flex-col"> 
            <app-loading-error-block [data]="sp?.data" [error]="sp?.error" />
            @if(sp?.data?.header_image_path) {
                <app-s3-img [src]="sp?.data?.header_image_path" bucket="service_providers" (click)="headerUploader.click()"/>
            } @else {
                <div class="skeleton w-64 h-32 mx-auto" (click)="headerUploader.click()"></div>
            }
            <input hidden type="file" #headerUploader accept="image/*" (change)="uploadHeaderPhoto($event)"/>
            <button (click)="headerUploader.click()" class="btn btn-primary m-4">Replace Header Image</button>
            <app-service-provider-form #spForm [data]="sp?.data" />
            <button (click)="updateBase(spForm.value())" [disabled]="!spForm.valid()" class="btn btn-primary m-4">Update</button>
        </div>
    </details>
    <details class="collapse collapse-arrow border border-base-300">
        <summary class="collapse-title text-xl font-bold">
          Hours
        </summary>
        <div class="collapse-content"> 
        </div>
    </details>
</div>

<app-toast #successToast type="success" />
<app-toast #errorToast type="error" />