<div class="flex flex-row gap-4 rounded rounded-xl bg-base-200 p-4 shadow-inner shadow-gray-500 cursor-pointer"
    routerLink="/review/{{ detailId }}"
>
    <app-avatar [path]="owner.profile_path" size="sm" />
    <div class="flex-auto">
        <div class="flex flex-row place-content-center">
            <h3 class="my-0">{{ owner.name }}</h3>
            <div class="flex-auto text-right">
                <app-rating class="flex-auto" [value]="review.rating" />
            </div>
        </div>
        <p class="my-0">{{ review.description }}</p>
    </div>
</div>